<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
</head>
<link rel="stylesheet" href="/style.css">

<body>
    <div class="container table-responsive">
    <h1>Student Details</h1>
    <% let s=1; %>
    
        <br>
        
    <table border="2px solid black">
        
        <tr>
            <th>
                StudentRollNo.
            </th>
            <th>
                StudentID
            </th>
            <th>
                Name
            </th>
            <th>
                Contact
            </th>
            <th>
                Course
            </th>
            <th>
                Delete details
            </th>
            <th>See Details</th>
            <th>Edit</th>
        </tr>
        <% for(student of students){ %>
        <tr>
            <td>
                <%= s++ %>
            </td>
            
            <td>
                <%= student.StudentID  %>
            </td>
            <td>
                <%= student.Name %>
            </td>
            <td>
                <%= student.Contact %>
            </td>
            <td>
                <%= student.Course %>
            </td>
            <td>
                <form action="/dashboard/<%= student.StudentID %>?__method=DELETE" method="POST" id="dlt">
    <button type="submit" class="delete-btn">Delete</button>
</form>
            </td>
            <td>
                <a href="/dashboard/<%= student.StudentID %>"  class="btn view-btn">See in detail</a>
            </td>
           
           <td><a href="/dashboard/<%= student.StudentID %>/edit" class="btn edit-btn">Edit</a></td>
        </tr>
         <% } %>
    </table>
    <br>
    <a href="http://localhost:3000/dashboard/new" class="btn add-btn">Add Students</a>
    </div>
</body>
</html>